<!--  используем шаблон default.html как основу. -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам post, идентификатор которого был передан в url -->
{% block content %}
<!--выводится информация по 1-4 статье/новости-->
    <h1>{{post.title|censor}}</h1>
    <p style="font-size: 15px;" align="right">{{ post.posting_time|date:'d.m.Y' }}</p>
    <div style="font-size: 20px" align="right">{{ post.text|censor }}</div>

{% endblock content %}
